In [ ]:
#### PART 1 - Python Essentials

In [ ]:
## Imports
import pandas as pd
import statistics as stat
import os as os

In [ ]:
## 1: Variables & Types

## Define Variables
name = 'Taylor'
age = 30
height_f = 6.0
height_m = height_f * 0.3048

## Print String
print(f'My name is {name}, I am 32 years old, and I am {height_m} meters tall.')

In [ ]:
## 2: Lists & Loops

## Create a List
list = [1,2,3,4,5]

## Loop through and print list items (Simple Way)
for num in list:
    print(f'Number: {num} â†’ Square: {num**2}')

## Loop through and print list items (Data Science Way)
df = pd.DataFrame({
    "Number": list,
    "Square": [n**2 for n in list]
})
df

In [ ]:
## 3: Dictionaries

## Create Dictionary
student = {
    "name": ("Taylor", "Tricia", "Russell"),
    "age": (30, 31, 28),
    "grades": (90, 100, 100)
}

## Calculate Average Grade
avg_grade = stat.mean(student["grades"])

## Return Avg_Grade
avg_grade

In [ ]:
## 4: Functions

## Create a f_c Function
def fahrenheit_to_celsius(f):
    return(((f - 32) * 5) / 9)

## Examples
fahrenheit_to_celsius(32)
fahrenheit_to_celsius(68)
fahrenheit_to_celsius(100)

In [ ]:
## 5: Conditionals

## Ask User for Input
user_input = input("What is your number?")

## Return Positive or Negative or Zero
if int(user_input) == 0:
    print('Zero')
elif int(user_input) < 0:
    print('Negative')
else:
    print('Positive')

In [ ]:
#### PART 2 - Mini Data Challenge (Titanic Dataset)

## 1: Load Dataset
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)

In [ ]:
## 2. Display first 5 rows of data
df.head()

In [ ]:
## 3. How many passengers survived?
survived_count = sum(df["Survived"])
print(f'Number that survived: {survived_count}')

In [ ]:
## 4. How many passengers survived?
clean_age = df.dropna(subset=["Age"])
avg_age = stat.mean(clean_age["Age"])
print(f'Average age of passengers: {avg_age}')

In [ ]:
## 5. Who were the passengers under 18?
clean_age.loc[clean_age["Age"] < 18]["Name"]